absl-py==1.0.0
aeppl==0.0.38
aesara==2.8.7
aiohttp==3.8.4
aiosignal==1.2.0
ale-py==0.7.5
altair==4.2.2
anyio==3.6.2
appdirs==1.4.4
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arviz==0.13.0
astor==0.8.1
asttokens==2.0.5
async-generator==1.10
async-timeout==4.0.2
atari-py==0.2.6
attrs==21.4.0
autocut @ file:///Users/chengmaoyu/code/test/chatgpt/autocut
Babel==2.10.1
backcall==0.2.0
bayesian-optimization==1.2.0
bce-python-sdk==0.8.64
beautifulsoup4==4.11.1
bleach==5.0.0
blinker==1.6.2
Brotli==1.0.9
cachetools==5.0.0
catboost==1.0.6
certifi==2021.10.8
cffi==1.15.0
cfgv==3.3.1
cftime==1.6.2
charset-normalizer==2.0.12
click==8.1.3
cloudpickle==1.6.0
cma==3.2.2
colorama==0.4.6
colour==0.1.5
cons==0.4.5
curl-cffi==0.5.5
cycler==0.11.0
Cython==0.29.28
dataclasses-json==0.5.7
debugpy==1.6.0
decorator==4.4.2
defusedxml==0.7.1
distlib==0.3.4
econml==0.14.0
entrypoints==0.4
et-xmlfile==1.1.0
etuples==0.3.8
exceptiongroup==1.1.1
executing==0.8.3
fake-useragent==1.1.3
fasteners==0.17.3
fastjsonschema==2.15.3
fastprogress==1.0.3
ffmpeg-python==0.2.0
filelock==3.7.0
flake8==4.0.1
Flask==2.1.2
Flask-Babel==2.0.0
Flask-Cors==3.0.10
fonttools==4.33.3
frozenlist==1.3.0
fsspec==2023.4.0
future==0.18.2
gitdb==4.0.10
GitPython==3.1.31
glfw==2.5.3
google-auth==2.6.6
google-auth-oauthlib==0.4.6
gpt4free==1.0.2
graphviz==0.20.1
greenlet==2.0.2
grpcio==1.43.0
gym==0.19.0
gym-notices==0.0.6
h11==0.14.0
httpcore==0.16.3
httpx==0.23.3
huggingface-hub==0.14.1
identify==2.5.0
idna==3.3
imageio==2.19.0
imageio-ffmpeg==0.4.8
importlib-metadata==4.11.3
importlib-resources==5.7.1
install==1.3.5
ipykernel==6.13.0
ipython==8.3.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
jsonschema==4.5.1
jupyter==1.0.0
jupyter-client==7.3.1
jupyter-console==6.4.3
jupyter-contrib-core==0.4.0
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.10.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.5.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
kiwisolver==1.4.2
langchain==0.0.157
Levenshtein==0.21.0
lightgbm==3.3.3
llvmlite==0.39.1
logical-unification==0.4.5
lxml==4.9.1
Markdown==3.3.6
markdown-it-py==2.2.0
MarkupSafe==2.1.1
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mccabe==0.6.1
mdurl==0.1.2
metagym==0.1.0
miniKanren==1.0.3
mistune==0.8.4
more-itertools==9.1.0
moviepy==1.0.3
mpmath==1.2.1
msgpack==1.0.3
mujoco-py==2.1.2.14
multidict==6.0.4
multipledispatch==0.6.0
mutagen==1.46.0
mypy-extensions==1.0.0
names==0.3.0
nbclient==0.6.3
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
netCDF4==1.6.1
networkx==2.8.6
nevergrad==0.5.0
nodeenv==1.6.0
notebook==6.4.11
numba==0.56.4
numexpr==2.8.4
numpy==1.22.3
oauthlib==3.2.0
openai==0.27.2
openai-whisper @ git+https://github.com/openai/whisper.git@c09a7ae299c4c34c5839a76380ae407e7d785914
OpenAIAuth==0.3.2
openapi-schema-pydantic==1.2.4
OpenCC==1.1.6
opencc-python-reimplemented==0.1.7
opencv-python==4.5.5.64
openpyxl==3.0.10
outcome==1.2.0
packaging==21.3
paddlepaddle==2.2.2
pandas==1.4.2
pandocfilters==1.5.0
parameterized==0.9.0
parl==2.0.3
parso==0.8.3
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.0
platformdirs==2.5.2
plotly==5.9.0
pre-commit==2.19.0
proglog==0.1.10
prometheus-client==0.14.1
prompt-toolkit==3.0.29
protobuf==3.20.1
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.5
pyarrow==10.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
pycryptodome==3.14.1
pycryptodomex==3.17
pydantic==1.10.7
pydeck==0.8.1b0
pydub==0.25.1
pyee==8.2.2
pyflakes==2.4.0
pygame==2.1.2
pyglet==1.5.23
Pygments==2.15.1
pymailtm==1.1.1
pymc==4.3.0
Pympler==1.0.1
pyparsing==3.0.9
PyPasser==0.0.5
pyperclip==1.8.2
pyppeteer==1.0.2
pyrsistent==0.18.1
PySocks==1.7.1
pyspark==3.3.0
pysubs2==1.6.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.3.0
QtPy==2.1.0
random-username==1.0.2
rapidfuzz==3.0.0
ray==1.12.0
regex==2022.10.31
requests==2.29.0
requests-oauthlib==1.3.1
revChatGPT==4.0.5
rfc3986==1.5.0
rich==13.3.5
rsa==4.8
scikit-learn==1.1.0
scipy==1.8.0
seaborn==0.11.2
selenium==4.9.0
Send2Trash==1.8.0
sentencepiece==0.1.99
shap==0.40.0
shellcheck-py==0.8.0.4
six==1.16.0
slicer==0.0.7
smmap==5.0.0
sniffio==1.3.0
socksio==1.0.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
sparse==0.13.0
SpeechRecognition==3.8.1
SQLAlchemy==2.0.12
srt==3.5.3
stack-data==0.2.0
statsmodels==0.13.5
streamlit==1.21.0
streamlit-chat @ https://github.com/AI-Yash/st-chat/archive/refs/pull/24/head.zip
sympy==1.10.1
tabulate==0.8.9
tb-nightly==1.15.0a20190801
tenacity==8.2.2
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5
termcolor==1.1.0
terminado==0.13.3
threadpoolctl==3.1.0
tiktoken==0.3.1
tinycss2==1.1.1
tls-client==0.2.1
tokenizers==0.13.3
toml==0.10.2
toolz==0.12.0
torch==2.0.0
torchaudio==2.0.1
tornado==6.1
tqdm==4.64.0
traitlets==5.2.0
transformers==4.28.1
trimesh==3.11.2
trio==0.22.0
trio-websocket==0.10.2
TwoCaptcha==0.0.1
typing-inspect==0.8.0
typing_extensions==4.2.0
tzdata==2023.3
tzlocal==4.3
urllib3==1.26.9
validators==0.20.0
virtualenv==20.14.1
visualdl==2.2.3
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.5.1
websockets==10.4
Werkzeug==2.1.2
widgetsnbextension==3.6.0
wsproto==1.2.0
xarray==2022.10.0
xarray-einstats==0.3.0
yarl==1.8.2
yt-dlp==2023.3.4
zipp==3.8.0
